* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: yellow;
}

.header {
	text-align: center;
	font-size: 60px;
	color: yellow;
	background-color: #666;
	height: 170px;
}