* {
	margin: 0;
	padding: 0;
}

body {
	font-family: monospace;/*'Open Sans', sans-serif;*/
	background-color: ;
}

.header {
	text-align: left;
	font-size: 1.2em;
	color: #f69415;
	background-color: #24292e;
	height: 55px;
}

.logo {
	padding: 10px 0 0 20px;
}